<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <table>
        <th colspan="2" style="background-color: #671717; color: white">{{ product.name }}</th>
        <tr>

            <td><img src="/media/{{ product.img }}" alt="img"></td>
            <td>{{ product.discription }}</td>

        </tr>
        <tr>
            <th style="color: green">{{ product.price }} грн</th>
            <th>
                <a href="/prod/{{ product.name }}/buy">КУПИТИ</a>
            </th>
        </tr>

    </table>
</body>
</html>
